@media (max-width: 1430px) {
    .content {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 1050px) {
    .content {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 676px) {
    .content {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}